* {
  box-sizing: border-box;
}

.btn-sign-up, .btn-login {
  padding: 10px 5px;
  font-size: 18px;
}

.format {
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 50px;
}

/* li {
  list-style-type: disc;
} */